.u-section-1 .u-sheet-1 {
  min-height: 3024px;
}

.u-section-1 .u-text-1 {
  margin: 127px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 128px 0 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}